.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: unset !important;
    height: auto !important;
}

.profile_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: unset !important;
    height: auto !important;
    gap: 1rem;
}

.profile img {
    margin-bottom: 1rem;
}

.profile h1 {
    margin: 0;
    line-height: 1.3;
}

.profile span {
    margin: 0;
    line-height: 1.3;
}

.social-icons {
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
}

.post-content {
    margin-top: 2rem !important;
}