<div style="margin-bottom: 1em;">
    <a href="{{ .Get "url" }}">{{ .Get "title" | markdownify }}</a>.<br>
    <div style="line-height: 1.4; font-size: smaller; color: var(--secondary);">
    <span>{{ .Get "authors" | markdownify }}</span>.<br>
    <span><em>{{ .Get "venue" | markdownify }}</em>{{ if .Get "location" }}, {{ .Get "location" }}{{ end }}.</span>
    {{ if .Get "github" }}
    <span class="resource pub-icon"><a href="{{ .Get "github" | safeURL }}">{{ partial "svg.html" (dict "name" "github")}}</a></span>
    {{ end }}
    {{ if .Get "twitter" }}
    <span class="resource pub-icon"><a href="{{ .Get "twitter" | safeURL }}">{{ partial "svg.html" (dict "name" "twitter")}}</a></span>
    {{ end }}
    {{ if .Get "link" }}
    <span class="resource pub-icon"><a href="{{ .Get "link" | safeURL }}">{{ partial "svg.html" (dict "name" "link")}}</a></span>
    {{ end }}
    </div>
    </div>